:root {
    --color-1: #025159; 
    --color-2: #3E848C;
    --color-3: #7AB8BF; 
    --color-4: #C4EEF2;  
    --color-5: #A67458; 
}

*{
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color:var(--color-4);
    height: 150px;
}

@media screen and (max-width: 600px) {
    header {
        font-size: 1em;
    }
 }






